In [1]:
# import dependencies
import pandas as pd

In [6]:
# impport cities file into DataFrame
hotels_df = pd.read_csv('hotels.csv', low_memory=False)

In [9]:
# display the results
hotels_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,48,atar,0,MR,1616122485,13,20.5169,-13.0499,20.90,1.64,Bab Sahara
1,145,salalah,0,OM,1616122415,43,17.0151,54.0924,22.00,1.54,Star Emirates garden villas
2,181,umm lajj,0,SA,1616122623,45,25.0213,37.2685,21.48,4.62,HP Red Sea Hotel
3,233,nizwa,0,OM,1616122824,24,22.9333,57.5333,23.00,0.39,Antique Inn - Nizwa
4,263,nara,0,JP,1616122826,39,34.6851,135.8049,20.00,2.06,Onyado Nono
5,267,ibra,0,OM,1616122833,31,22.6906,58.5334,22.19,0.26,Geust house tafadal
6,486,yazman,0,PK,1616122899,31,29.1212,71.7446,23.08,4.31,Masha ALLAH Restaurant
7,573,viedma,0,AR,1616122414,37,-40.8135,-62.9967,15.11,4.70,Casa Crespo Hotel Boutique
8,588,bahawalpur,0,PK,1616122796,36,29.4000,71.6833,22.41,4.16,The Grand Regency

In [8]:
del hotels_df['Unnamed: 0']

In [10]:
# save the DataFrame to a html file
hotels_df.to_html('hotels.html', index=False)